/* Color Variables */
$primary-color: #333;
$bars-color: #292929;
$footer-bg: #252525;
$default-text: #222222;
$footer-bottom: #1a1a1a;
$paragraph-text: #848484;
$about-bg: rgba(248, 249, 249, 0.69);
$light-header: #fff;
$blog-border: #f4f4f4;
$border: darken($about-bg, 10%);


/* General */

body {
	font-family: 'Montserrat', sans-serif;
	color: $default-text;
}

a {
	color: inherit;
}

p {
	color: $paragraph-text;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Hind', sans-serif;
}

.title-underline {
	font-weight: bold;
	padding-bottom: 15px;
	font-size: 30px;
	position: relative;
}

.title-underline::after {
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 70px;
	height: 1px;
	background-color: #f8b864;
}


%parallax {
	/* Full height */
	height: 100%; 

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Header */

/* Top Info-bars */
#top-bar { 
	margin: 0;
	background-color: $bars-color;
	color: white;
	padding: 16px;

	.col-9 {
		text-align: right;
	}
}

#top-info {
	$top-padding: 50px;
	padding-bottom: $top-padding;
	padding-top: $top-padding;	

	.info-card {
		margin-left: auto;

		&:hover {

			i {
				color: $bars-color;				
			}
		}

		div {
			display: inline-block;
			padding: 0;
			vertical-align: middle;
		}

		h4 {
			font-size: 18px;
		}

		i {
			font-size: 30px;
			color: $primary-color;
			margin-top: 50%;
			transform: translateY(-50%);
			transition: color .3s ease-in-out;
		}

		.col-2 {
			$icon-size: 50px;
			border: dashed 1px $primary-color;
			height: $icon-size;
			width: $icon-size;
			text-align: center;
			border-radius: 50%;
		}
	}
}

/* Navbar */

.navbar {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto; 
	margin-right: auto;
	display: inline-block;
	width: 90%;
	background-color: $bars-color;
}

/* About Us */

#about-us {
	padding: 80px 0;
	background-color: $about-bg;

	h2 {
		text-transform: uppercase;
		font-size: 30px;
		font-weight: bold;
	}

	h2 span {
		color: $primary-color;
	}
}


.icon-holder {
	position: relative;
	display: block;
	font-size: 48px;
	background-color: $light-header;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	border-radius: 50%;
	box-shadow: 0px 5px 8px 4px rgba(0, 0, 0, 0.28);
	transition: all .3s ease-in-out;	

	&:hover {
		background-color: $primary-color;
		color: $light-header;
	}



	i {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}

.statistic span:not(.icon-holder) {
	text-align: center;
	display: block;
}

.statistic-number {
	color: $primary-color;
	margin-top: 10px;
	font-weight: bold;
	font-size: 2em;

	&::after {
		content: "+";
	}
}

/* Our Services */

#our-services {
	margin: 7% 0;

	img {
		height: 190px;
		width: 370px;
	}

	h4 {
		font-size: 18px;
		margin: 15px 0;
		transition: color .3s ease-in-out;

		&:hover {
			color: $primary-color;
		}
	}

	p {
		font-family: 'Hind';
		font-size: 16px;
		font-weight: 300;
	}
}

/*  Single Service */

#provided-services {

	.col-6 {
		&:hover .service-icon {
			color: $light-header;
			background-color: $primary-color;
		}
	}

	.service-info {
		padding: 0 0 0 80px;
	}

	.service-icon {
		transition: all .2s ease-in-out;
		background-color: darken($about-bg, 5%);
		height: 70px;
		width: 70px;
		text-align: center;
		font-size: 2rem;
		position: absolute;
		color: $primary-color;

		i {
			vertical-align: bottom;
		}
	}
}

.nav-tabs {
	margin: 0;
	border: none;

	.nav-item {
		background-color: darken($about-bg, 3%);
		border: none;
		width: 33%;
		text-align: center;
		font-size: 1.2rem;
		font-weight: bold;
	}

	.active {
		border: none;
		background-color: $light-header;
		border-top: solid 3px $primary-color;
		border-color: $primary-color!important;
		border-radius: 0;
		border-bottom: 0;
		box-sizing: border-box;
	}

	.nav-item:not(:last-child) {
		margin-right: 3px;
	}

}

.tab-content {
	border: solid 1px darken($about-bg, 20%);
	padding: 30px;
	margin-top: 1px;
}

/* Single Service Sidebar */
.side-service {
	background-color: darken($about-bg, 10%);
	padding: 10px;
	margin-bottom: 2px;

	a {
		text-decoration: none;
		transition: all .2s ease-in-out;		
	}

	h4{
		font-size: 1.1rem;
		font-weight: bold;
	}

	&:hover a {
		color: $primary-color;
	}
}

.download {
	border: solid 1px darken($about-bg, 10%);
	padding: 10px;
	margin-bottom: 2px;

	&-type {
	background-color: darken($about-bg,  10%);
	padding: 5px;
	}

	i {
		position: absolute;
		right: 30px;
	}
}

/* Latest Projects */

#latest-projects {
	color: $light-header;
	$padding: 40px;
	padding-top: $padding;
	padding-bottom: $padding;
	background-image: url("http://tonatheme.com/newwp/factory/wp-content/uploads/2017/07/5-1.jpg");
	@extend %parallax;
}

.project {
	position: relative;
	overflow: hidden;

	img {
		// height: 190px!important;
		// width: 270px!important;
	}

	&:hover { 
		
		.project-overlay {
			width: 100%;

			&::after {			
				opacity: 1;
				transition: opacity 0s ease-in .3s;	
			}
		}

		h6, span {
			transition: all .1s ease-out .3s;			
			opacity: 1;
		}
	}

	h6 , span {
		opacity: 0;
	}

	h6 {
		font-size: 1.3rem;
		position: absolute;
		bottom: 20%;
		left: 50%;
		transform: translateX(-50%);
	}

	span {
		color: $primary-color;
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
	}

	&-overlay {
		
		position: absolute;
		height: 100%;
		width: 0;
		overflow: hidden;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,.6);
		transition: width .3s ease-in-out;	

		&::after {
			opacity: 0;
			border: 4px solid $primary-color;
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}
}

/*  Blog */

#blog {
	margin-top: 5%;

	span {
		color: darken($paragraph-text, 10%);
		font-weight: 500;
		font-size: .9rem;
	}

	h5 {
		transition: color .3s ease-in-out;

		&:hover {
			color: $primary-color;
		}
	}

	.blog-posts {
		border: 1px solid $blog-border;
	}

	.blog-information {
		padding: 20px;
	}

	img {

	}
}

/* Contact Us */

#contact-us {
	color: $light-header;
	padding: 40px ;
	background-image: url("http://tonatheme.com/newwp/factory/wp-content/uploads/2017/07/4-1.jpg");
	@extend %parallax;

	input, textarea {
		color: $light-header;
		margin: 10px auto;
		padding: 18px;
		background-color: transparent;
	}

	input[type="name"] {
		border: solid 1px $light-header;
		border-radius: 3px;
	}	

	input[type="button"] {
		background-color: $primary-color;
		width: 100%;
		font-weight: bold;
		font-size: 1.8rem;
	}
}

/* Faq */

#faq-form input , #faq-form textarea {
	margin-bottom: 5%;
	width: 100%;
}

/* About Page */

.contact-call, .newsletter {
	color: $light-header;
	text-align: center;
	@extend %parallax;
	padding: 10%;
}

.quote-banner {
	background-color: $primary-color;
	color: $light-header;
	padding: 20px;
}


/* Projects Page */

#latest-projects-page {


	img {
	}

	.project-wrapper {
		padding: 10px;
	}

	.project-overlay {
		width: 100%;
		height: 0%;
		transition: height .3s ease-in-out;			
		
		&::after {
			content: none;
		}
	}

	.project {
		color: $light-header;

		h6 {
			top: 30%;
			font-size: 1.5rem;
			font-weight: bold;
			text-align: center;
			width: 100%;
		}

		&:hover .project-overlay {
			height: 100%;
		}

		&:hover .buttons {
			opacity: 1;
			bottom: 30%;	
		}
	}

	.buttons {
		position: absolute;
		bottom: 0%;
		opacity: 0;
		font-size: 2em;
		transition: all .3s .3s ease-in-out;
		width: 100%;
		text-align: center;

		i {
			text-align: center;
			background-color: $primary-color;
			padding: 10px;
			border-radius: 50%;						
			color: $light-header;			
		}
	}
}

/* Single Project */

#single-latest-project {
	.col-3 img {
		margin-bottom: 15px;
	}
}

/* Blog */

.blog-post{
	position: relative;
	border: solid 1px darken($about-bg, 10%);
	margin-bottom: 20px;

	&:hover .date {
		left: 0;
		top: 0;
	}

	&:hover img {
		// transform: scale(1.1);
	}
}

.blog-info {
	padding: 15px;
}

.blog-meta {
	display: block;
	border-top: solid 1px darken($about-bg, 10%);
	padding: 8px 15px;
	color: $paragraph-text;
}

.date {
	position: absolute;
	background-color: $primary-color;
	color: $light-header;
	padding: 20px 10px;
	left: 30px;
	top: 30px;
	transition: all .3s .1s ease-in-out;
}


/* Footer */

footer {
	color: $light-header;
	background-color: $footer-bg;

	ul {
		margin: 0;
	}

	li {
		list-style: none;

		&::before {
			content: "< ";
		}

		&:hover {
			color: $primary-color;
		}
	}
}

#footer-bottom {
	background-color: $footer-bottom;
}