/* Color Variables */
/* General */
body {
  font-family: 'Montserrat', sans-serif;
  color: #222222; }

a {
  color: inherit; }

p {
  color: #848484;
  font-size: 16px;
  font-weight: 300;
  font-family: 'Hind', sans-serif; }

.title-underline {
  font-weight: bold;
  padding-bottom: 15px;
  font-size: 30px;
  position: relative; }

.title-underline::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 70px;
  height: 1px;
  background-color: #f8b864; }

#latest-projects, #contact-us, .contact-call, .newsletter {
  /* Full height */
  height: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

/* Header */
/* Top Info-bars */
#top-bar {
  margin: 0;
  background-color: #292929;
  color: white;
  padding: 16px; }
  #top-bar .col-9 {
    text-align: right; }

#top-info {
  padding-bottom: 50px;
  padding-top: 50px; }
  #top-info .info-card {
    margin-left: auto; }
    #top-info .info-card:hover i {
      color: #292929; }
    #top-info .info-card div {
      display: inline-block;
      padding: 0;
      vertical-align: middle; }
    #top-info .info-card h4 {
      font-size: 18px; }
    #top-info .info-card i {
      font-size: 30px;
      color: #fdc716;
      margin-top: 50%;
      transform: translateY(-50%);
      transition: color .3s ease-in-out; }
    #top-info .info-card .col-2 {
      border: dashed 1px #fdc716;
      height: 50px;
      width: 50px;
      text-align: center;
      border-radius: 50%; }

/* Navbar */
.navbar {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  width: 90%;
  background-color: #292929; }

/* About Us */
#about-us {
  padding: 80px 0;
  background-color: rgba(248, 249, 249, 0.69); }
  #about-us h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold; }
  #about-us h2 span {
    color: #fdc716; }

.icon-holder {
  position: relative;
  display: block;
  font-size: 48px;
  background-color: #fff;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: 0px 5px 8px 4px rgba(0, 0, 0, 0.28);
  transition: all .3s ease-in-out; }
  .icon-holder:hover {
    background-color: #fdc716;
    color: #fff; }
  .icon-holder i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.statistic span:not(.icon-holder) {
  text-align: center;
  display: block; }

.statistic-number {
  color: #fdc716;
  margin-top: 10px;
  font-weight: bold;
  font-size: 2em; }
  .statistic-number::after {
    content: "+"; }

/* Our Services */
#our-services {
  margin: 7% 0; }
  #our-services img {
    height: 190px;
    width: 370px; }
  #our-services h4 {
    font-size: 18px;
    margin: 15px 0;
    transition: color .3s ease-in-out; }
    #our-services h4:hover {
      color: #fdc716; }
  #our-services p {
    font-family: 'Hind';
    font-size: 16px;
    font-weight: 300; }

/*  Single Service */
#provided-services .col-6:hover .service-icon {
  color: #fff;
  background-color: #fdc716; }

#provided-services .service-info {
  padding: 0 0 0 80px; }

#provided-services .service-icon {
  transition: all .2s ease-in-out;
  background-color: rgba(234, 237, 237, 0.69);
  height: 70px;
  width: 70px;
  text-align: center;
  font-size: 2rem;
  position: absolute;
  color: #fdc716; }
  #provided-services .service-icon i {
    vertical-align: bottom; }

.nav-tabs {
  margin: 0;
  border: none; }
  .nav-tabs .nav-item {
    background-color: rgba(240, 242, 242, 0.69);
    border: none;
    width: 33%;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold; }
  .nav-tabs .active {
    border: none;
    background-color: #fff;
    border-top: solid 3px #fdc716;
    border-color: #fdc716 !important;
    border-radius: 0;
    border-bottom: 0;
    box-sizing: border-box; }
  .nav-tabs .nav-item:not(:last-child) {
    margin-right: 3px; }

.tab-content {
  border: solid 1px rgba(193, 202, 202, 0.69);
  padding: 30px;
  margin-top: 1px; }

/* Single Service Sidebar */
.side-service {
  background-color: rgba(221, 225, 225, 0.69);
  padding: 10px;
  margin-bottom: 2px; }
  .side-service a {
    text-decoration: none;
    transition: all .2s ease-in-out; }
  .side-service h4 {
    font-size: 1.1rem;
    font-weight: bold; }
  .side-service:hover a {
    color: #fdc716; }

.download {
  border: solid 1px rgba(221, 225, 225, 0.69);
  padding: 10px;
  margin-bottom: 2px; }
  .download-type {
    background-color: rgba(221, 225, 225, 0.69);
    padding: 5px; }
  .download i {
    position: absolute;
    right: 30px; }

/* Latest Projects */
#latest-projects {
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("http://tonatheme.com/newwp/factory/wp-content/uploads/2017/07/5-1.jpg"); }

.project {
  position: relative;
  overflow: hidden; }
  .project:hover .project-overlay {
    width: 100%; }
    .project:hover .project-overlay::after {
      opacity: 1;
      transition: opacity 0s ease-in .3s; }
  .project:hover h6, .project:hover span {
    transition: all .1s ease-out .3s;
    opacity: 1; }
  .project h6, .project span {
    opacity: 0; }
  .project h6 {
    font-size: 1.3rem;
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%); }
  .project span {
    color: #fdc716;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%); }
  .project-overlay {
    position: absolute;
    height: 100%;
    width: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    transition: width .3s ease-in-out; }
    .project-overlay::after {
      opacity: 0;
      border: 4px solid #fdc716;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%; }

/*  Blog */
#blog {
  margin-top: 5%; }
  #blog span {
    color: #6b6b6b;
    font-weight: 500;
    font-size: .9rem; }
  #blog h5 {
    transition: color .3s ease-in-out; }
    #blog h5:hover {
      color: #fdc716; }
  #blog .blog-posts {
    border: 1px solid #f4f4f4; }
  #blog .blog-information {
    padding: 20px; }

/* Contact Us */
#contact-us {
  color: #fff;
  padding: 40px;
  background-image: url("http://tonatheme.com/newwp/factory/wp-content/uploads/2017/07/4-1.jpg"); }
  #contact-us input, #contact-us textarea {
    color: #fff;
    margin: 10px auto;
    padding: 18px;
    background-color: transparent; }
  #contact-us input[type="name"] {
    border: solid 1px #fff;
    border-radius: 3px; }
  #contact-us input[type="button"] {
    background-color: #fdc716;
    width: 100%;
    font-weight: bold;
    font-size: 1.8rem; }

/* Faq */
#faq-form input, #faq-form textarea {
  margin-bottom: 5%;
  width: 100%; }

/* About Page */
.contact-call, .newsletter {
  color: #fff;
  text-align: center;
  padding: 10%; }

.quote-banner {
  background-color: #fdc716;
  color: #fff;
  padding: 20px; }

/* Projects Page */
#latest-projects-page .project-wrapper {
  padding: 10px; }

#latest-projects-page .project-overlay {
  width: 100%;
  height: 0%;
  transition: height .3s ease-in-out; }
  #latest-projects-page .project-overlay::after {
    content: none; }

#latest-projects-page .project {
  color: #fff; }
  #latest-projects-page .project h6 {
    top: 30%;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    width: 100%; }
  #latest-projects-page .project:hover .project-overlay {
    height: 100%; }
  #latest-projects-page .project:hover .buttons {
    opacity: 1;
    bottom: 30%; }

#latest-projects-page .buttons {
  position: absolute;
  bottom: 0%;
  opacity: 0;
  font-size: 2em;
  transition: all .3s .3s ease-in-out;
  width: 100%;
  text-align: center; }
  #latest-projects-page .buttons i {
    text-align: center;
    background-color: #fdc716;
    padding: 10px;
    border-radius: 50%;
    color: #fff; }

/* Single Project */
#single-latest-project .col-3 img {
  margin-bottom: 15px; }

/* Blog */
.date {
  position: absolute;
  background-color: #fdc716;
  color: #fff;
  padding: 10px; }

/* Footer */
footer {
  color: #fff;
  background-color: #252525; }
  footer ul {
    margin: 0; }
  footer li {
    list-style: none; }
    footer li::before {
      content: "< "; }
    footer li:hover {
      color: #fdc716; }

#footer-bottom {
  background-color: #1a1a1a; }
